
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*HEADER*/
header{
    height: 100px;
    background: rgb(49, 48, 63);
    padding:0 5opx;
    color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    color: rgb(235, 225, 171);
    font-weight: 200;
}

.menu a{
    color: bisque;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display:none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: rgb(179, 160, 119);
}


#check{
    display: none;
}

/*Iconos menu*/
.menu-iconos{
  right: 80px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: bisque;
  text-decoration: none;
  overflow: hidden;
  }
  .menu-iconos div{
    padding: 30px 30px;
  }


/* ICONOS*/
#icons{
    padding: 0px 50px;
    background: rgb(49, 48, 63);
}

.contenido-iconos{
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu-iconos {
  text-decoration: none;
}

.menu-iconos div i{
  padding: 40px 10px;
  color: bisque;
}

.contenido-iconos div{
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid rgb(241, 232, 219);
}

#icono-tienda{
    border:none;
}
.contenido-iconos div i{
    color: rgb(252, 236, 217);
}

.contenido-iconos div h6{
    color: rgb(252, 236, 217);
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}

/*form(formulario)*/
#contacto{
    background: white;
    padding: 50px 0px;
    color: rgb(49, 48, 63);
}

#contacto h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
}

#contacto form{
    max-width: 80%;
    margin: 0 auto;
}

.datos-form{
    display: flex;
}

.datos-form div{
    padding: 30px;
    flex: 1;
}
form label{
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea{
    background:  rgb(245, 239, 232);
    border-radius: 10px;
    border: 2px solid rgb(52, 56, 77);
    padding: 10px 5px;
    outline: 0;
    color:  rgb(52, 56, 77);
    width: 100%;
}

form input:focus,
form textarea:focus{
    border-color: rgb(52, 56, 77) ;
    box-shadow: 0 0 0 1px rgb(52, 56, 77);
}

.mensaje{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.boton-formulario .boton-saber-mas{
    display: inline-block;
    text-align: center;
    color: gray;
    text-decoration: none;
    border: 1px solid rgb(224, 210, 144);
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 15px;
    transition: all 0.4s;
}
.hover-formulario:hover,
.boton-saber-mas:hover{
    background-color: rgb(235, 231, 187);
}

/*Footer*/
footer{
    background: #4D4D5C;
    color: #cccccc4a;
    text-align: center;
    padding: 10px 0px;
}



/*RESPONSIVE*/
@media(max-width: 768px){

    /*HEADER*/
.mostrar-menu,
.esconder-menu{
    display: block;
}

.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(49, 48, 63);
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
}

.menu a{
    display: block;
    padding: 20px;
}
.esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
} 

#check:checked ~ .menu{
    right: 0;
}


/*formulario contacto*/

#contacto{
    flex-direction: column;
}



}
