*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*HEADER*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background:  rgb(49, 48, 63);
    box-shadow: 0 4px 25px -22px black;
    justify-content: space-between;
    z-index: 1;
}

.header-content{
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    float: left;
}

.logo{
    height: 100px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    font-weight: 200;
    color: rgb(235, 225, 171);
    text-transform: uppercase;
    float: left;
}


.menu{
    width:100%;
    display: flex;
    margin-left: 10%;
    justify-content: left;
    align-items: center;
}

.menu a {
    text-decoration: none; 
    color: bisque;
    text-transform: uppercase;
    transition: 0.4s; 
    margin-right: 30px;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display:none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
    color: bisque;
    margin-top: 20px;
    margin-left: 40px;
    box-sizing: border-box;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: rgb(179, 160, 119);
}

#check{
    display: none;
}


    /*Iconos menu*/
.menu-iconos{
    position: absolute;
    right: 80px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    text-decoration: none;
    overflow: hidden;
}

.menu-iconos{
    cursor: pointer;
}

.menu-iconos {
    text-decoration: none;
}

.menu-iconos i:hover,
.mostrar-menu-iconos:hover,
.esconder-menu-iconos:hover{
    color: rgb(179, 160, 119);
}

.menu-iconos div i{
    padding: 40px 10px;
    color: bisque;
}


/*Buscardor de contenido*/
#ctn-icon-search{
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#ctn-icon-search i{
    font-size: 18px;
    color: #777777;
    cursor: pointer;
    transition: all 300ms;
}

#ctn-bars-search{
    position: fixed;
    top: -10px;
    width:100%;
    background-color:  rgb(63, 61, 82);
    box-sizing: border-box;
    padding: 5px;
    z-index: 9;
    /*transition: all 600ms;                 No hace la transición como debe ser */ 
    display: none;
}

#ctn-bars-search input{
    display: block;
    width: 700px;
    margin: auto;
    font-size: 18px;
    outline: 0;
}

#box-search{
    position: fixed;  
    top: 106px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    background: white;
    z-index: 8;
    text-decoration: none;
    overflow: hidden;
    display: block;
    display: none;
}

#box-search li a{
    display: block;
    width: 1025px;
    text-decoration: none;
    color: rgb(206, 209, 209);
    padding: 12px 13px;
}

#box-search li a:hover{
    color: white;
}

#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    z-index: 7;
    display: none;
}

/*Banner img*/
#banner{
    padding: 0 50px ;
    background-image: url(C:/Users/noeli/Desktop/proyectoDAW/IMG/model1.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
}

#banner::before{ /*tapar la imagen de la parte principal como humo*/
    content: '';
    background: rgba(77,77,92, 0.6);
    position: absolute;
    width: 100%;
    height: 70vh;
    left: 0;
}

.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px opx;
}

.contenido-banner h3 span{
    font-weight: 600;
}

.boton-empezar{
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(224, 210, 144);
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.45s;
}

.boton-empezar:hover{
    background-color: rgb(231, 207, 163) ;
}

/*Mas vendidos*/
#masvendidos{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#masvendidos img{
    border: 100%;
}

#masvendidos div{
    padding: 30px 30px;
}

#masvendidos div h4{
    color: rgb(82, 79, 72);
    font-size: 20px;
    margin: 15px 0px;
}
#masvendidos div p {
    color: rgb(102, 101, 101);
    font-size: 18px;
}


.boton-comprar{
    display: inline-block;
    text-align: center;
    color: gray;
    text-decoration: none;
    border: 1px solid rgb(224, 210, 144);
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 15px;
    transition: all 0.4s;
}
.boton-comprar:hover{
    background-color: rgb(231, 207, 163) ;
}

/* ICONOS*/
#icons{
    padding: 0px 50px;
    background: rgb(49, 48, 63);
}

.contenido-iconos{
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenido-iconos div{
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid rgb(241, 232, 219);
}

#icono-tienda{
    border:none;
}
.contenido-iconos div i{
    color: rgb(252, 236, 217);
}

.contenido-iconos div h6{
    color: rgb(252, 236, 217);
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}

/*Footer*/
footer{
    background: #4D4D5C;
    color: #cccccc4a;
    text-align: center;
    padding: 10px 0px;
}



/*RESPONSIVE*/
@media(max-width: 930px){
    /*HEADER*/
.mostrar-menu,
.esconder-menu{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
}

#ctn-bars-search,
#ctn-bars-search input,
#box-search{
    width: 100%;
}

.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(49, 48, 63);
    right: -100%;
    text-align: center;
    flex-direction: column;
    z-index: 100;
    transition: 0.8s;
    padding-top: 15%;
}

.menu a{
    display: block;
    padding: 20px;
}
.esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
}

#check:checked ~ .menu{
    right: 0;
}

/*mas vendidos*/
#masvendidos{
    flex-direction: column;
}

.contenido-iconos{
    flex-direction: column;
}
.contenido-iconos div{
    border: none;
}

/*icono busqueda*/
.buscar{
    flex-direction: column;
}


}
